.wrapper {
    width:100%;
    height:100vh;
    
}
.wrapper .landing-container{
    width:100%;
    height:100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing-container:before {
    position: absolute;
    width: 100%;
    height:100%;
    display: block;
    content:"";
    background-color:lightgreen;
    z-index: -1;
    animation:landing-anim 3s ease-in-out;
}
.landing-container h1 {
    font-size: 10vw;
    color:white;
}
.content-container {
    width:100%;
    display: flex;
    box-sizing: border-box;
    padding:2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-tile {
    display: flex;
    align-items: center;
    width: 100%;
    margin:2%;
}
.content-tile .title,.content-tile .image {
    width:50%;
    height: 50%;
}
.content-tile .image {
    animation: imageani 3s;
}
.letter-container {
    display: flex;
    position: relative;
    overflow: hidden;
}
.title .details {
    letter-spacing: 2px;
    animation: spanAni 1s;
}
.letter-container:before{
    width:50%;
    height: 50%;
    display: flex;
    align-items: center;
    content:"";
    position: absolute;
    background: rgba(210,243,180,0.5);
    animation: titleAnimation 0.5s ease;
}
.image img {
    width:50%;
}
.slug {
    margin:2%;
    animation:fadeAni 1s ease-in-out;
}
.letter-container h1 {
    font-size:800%;
    margin:1%;
    width: 100%;
    float: left;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: translateX(-50px);
    animation-name: titleAnimation;
    animation-timing-function:ease;
    animation-duration: 3s;    
}
@keyframes landing-anim {
    0%{
        transform:translateX(-100%);
    }
    30%{
        transform: translateX(0%);
    }
    60%{
        transform: translateX(0%);
    }
    100%{
        transform:translateX(100%)
    }
}
@keyframes titleAnimation {
    0% {
      -webkit-clip-path: polygon(0 0, 6% 0, 6% 100%, 0 100%);
    clip-path: polygon(0 0, 6% 0, 6% 100%, 0 100%);
  }
  100% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

}
@keyframes fadeAni {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes imageani {
    0%{
        opacity: 0;
        transform: translateX(-100%)
    }
    100%{
        opacity: 1;
        transform: translateX(0)
    }
}
@keyframes spanAni {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}